@page
@model WebApplication1.DetailsModelBC

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BC_Targhe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BC_Targhe.bc_targa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BC_Targhe.bc_targa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BC_Targhe.bc_cdc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BC_Targhe.bc_cdc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BC_Targhe.bc_iva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BC_Targhe.bc_iva)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BC_Targhe.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
