@page
@model WebApplication1.IndexModelBC

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BC_Targhe[0].bc_targa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BC_Targhe[0].bc_cdc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BC_Targhe[0].bc_iva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BC_Targhe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bc_targa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bc_cdc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bc_iva)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
